<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>LoggerFall</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
  </head>
  <body>
    <div id="body">
      <div id="inboxz">
        {% for message in messages %}
          {% include "message.html" %}
        {% end %}
      </div>
<div id="container" style="float: left; width: 200px; height: 500px;  overflow: scroll;">
    <div id="inbox" style="left: 10px; top: 10px;">1</div>
</div>
<div id="container" style="float: left; width: 200px; height: 500px; overflow: scroll;">
    <div id="inbox2" style="left: 20px; top: 200px;">2</div>
</div>
    </div>
    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("purl.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
  </body>
</html>
